@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
.user_index_container,
.user_show_container,
.post_show_container,
.post_index_container {
    margin-left: 160px;
}

.user_profile,
.show_profile,
.post_show {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.borders {
    border: 1px solid black;
    width: 800px;
    height: 100px;
    margin-top: 25px;
    display: flex;
}

.user_name {
    font-family: 'Unbounded', cursive;
    font-size: 50px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    margin-top: 24px;
}

.num,
.num_1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 30px;
    margin-left: 300px;
    height: 30px;
    margin-top: 50px;
}

.border {
    display: flex;
    border: 1px solid black;
    width: 800px;
    margin-bottom: 30px;
}

.borders_1 {
    border: 1px solid black;
    margin-top: 40px;
    width: 800px;
    margin-bottom: 30px;
}

.bio,
.post_show_id {
    font-family: 'Unbounded', cursive;
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

.post_show_title {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
    margin-left: 20px;
}

.post_show_titles {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 34px;
}

.post_show_text,
.comment_like,
.post_name {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 17px;
}

.post_show_text {
    margin-left: 200px;
    margin-top: 40px;
}

.btn {
    margin-left: 300px;
    margin-bottom: 40px;
    font-family: 'Unbounded', cursive;
    font-size: 30px;
    height: 60px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    width: 400px;
}

.btn:hover {
    color: #fff;
    background-color: black;
}

.post_name {
    margin-left: 20px;
    margin-top: 30px;
}

.text_post {
    margin-left: 300px;
    margin-top: 40px;
}

.num_1 {
    font-size: 15px;
    margin-top: 70px;
    margin-left: 150px;
}

.num_2 {
    font-size: 20px;
    margin-left: 600px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: -40px;
}

.text_show {
    display: flex;
}

.post_text {
    margin-left: 20px;
    margin-top: 32px;
    font-size: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.name_3 {
    display: flex;
    margin-left: 10px;
}

.bord {
    border: 1px solid black;
    width: 800px;
    height: 80px;
}

.all-posts {
    margin: 1rem 40rem 1rem 42rem;
    display: block;
    border-style: solid;
    border-width: 4px;
    height: 30px;
    width: 150px;
    box-shadow: 5px 10px #0c0c0c;
}

.posts-btn {
    margin: 0.85rem 0 1rem 1rem;
    font-size: 1.15rem;
    font-weight: 700;
}

.post-content {
    border-style: solid;
    border-width: 4px;
    height: 130px;
    width: 700px;
    margin-top: 1.5rem;
    margin-left: 25rem;
}

.context {
    margin: 0.25rem 0 1rem 1rem;
    font-size: 1.05rem;
    font-weight: 700;
}

.ptitle {
    margin: 0.25rem 0 1rem 1rem;
    font-size: 1.05rem;
    font-weight: 700;
}

.ptext {
    margin: 0.25rem 0 1rem 1rem;
    font-size: 1.05rem;
    font-weight: 700;
}

.pcount {
    float: right;
    font-size: 1.05rem;
    font-weight: 700;
    margin: 0.75rem 2rem 0.25rem 0;
}

.comments-container {
    border-style: solid;
    border-width: 4px;
    height: 190px;
    width: 700px;
    margin-top: 1.5rem;
    margin-left: 25rem;
}

.comments-context {
    margin: 0.25rem 0 1rem 1rem;
    font-size: 1.05rem;
    font-weight: 700;
}

.pcountLikes {
    float: right;
    font-size: 1.05rem;
    font-weight: 700;
    margin: -4.2rem 2rem 0.25rem 0;
}

.create-title {
    margin: 1rem 0 1rem 25rem;
    font-size: 2.05rem;
    font-weight: 700;
}

.post-form {
    border-style: solid;
    border-width: 4px;
    height: 450px;
    width: 700px;
    margin: 1rem 0 1rem 25rem;
}

.ptitlebox {
    border-style: solid;
    border-width: 2px;
    border-color: #5c5c5e;
    margin-left: 2rem;
}

.new-btn {
    margin-left: 2rem;
    display: block;
    border-style: solid;
    border-width: 2px;
    height: 25px;
    width: 150px;
    font-family: sans-serif;
}

.new-comment-btn {
    margin-left: 2rem;
    display: block;
    border-style: solid;
    border-width: 2px;
    height: 25px;
    width: 200px;
    font-family: sans-serif;
}

.like-btn {
    float: right;
    margin: -2rem 2rem 1.75rem 0;
    font-size: 1.15rem;
    font-weight: 700;
}

.comment-btn {
    margin: 0.85rem 0 1rem 1rem;
    font-size: 0.85rem;
    font-weight: 700;
}

.welcome {
    text-align: center;
    font-size: 2.05rem;
    font-weight: 700;
}

.sign-up-container {
    border-style: solid;
    border-width: 2px;
    border-color: #5c5c5e;
    margin: 1rem 20rem 1rem 20rem;
    width: 950px;
}

.field {
    margin: 1rem 0 1rem 1rem;
    font-size: 1.05rem;
    font-weight: 700;
}

.sign-up-btn {
    margin: 1rem 0 1rem 1rem;
    display: block;
    border-style: solid;
    border-width: 4px;
    height: 30px;
    width: 150px;
    box-shadow: 5px 10px #0c0c0c;
    border-color: #5c5c5e;
    font-size: 1.05rem;
    font-weight: 700;
}

.log-container {
    margin: 1rem 20rem 1rem 25rem;
    width: 950px;
}

.log-btn {
    margin: 1rem 0 1rem 1rem;
    display: block;
    border-style: solid;
    border-width: 4px;
    height: 30px;
    width: 750px;
    box-shadow: 5px 10px #0c0c0c;
    border-color: #5c5c5e;
    font-size: 1.05rem;
    font-weight: 700;
}

.flabel {
    margin: 1rem 0 1rem 1rem;
    font-size: 1.15rem;
    font-weight: 700;
}

.ftext {
    margin: 1rem 0 1rem 1rem;
    font-size: 1.05rem;
    font-weight: 700;
    height: 30px;
    width: 750px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

.render {
    margin: 1rem 0 1rem 1rem;
    font-size: 0.95rem;
    font-weight: 500;
}

.finput {
    margin: 0.45rem 0 1rem 1rem;
    font-size: 1.05rem;
    font-weight: 700;
    height: 30px;
    width: 650px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}